# Auto detect text files and perform LF normalization
* text eol=lf

*.doc	 -text
*.DOC	 -text
*.docx   -text
*.DOCX   -text
*.pdf    -text
*.PDF	 -text
*.rtf	 -text
*.RTF	 -text
*.xls    -text
*.xlsx   -text

*.nc	 -text
*.mat	 -text
*.mat*	 -text
*.class  -text
*.gz     -text
